
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }

  .navitem a{
    float: none;
    display: block;
    text-align: center;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color: #5a5d61;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



hr {
  display: inline-block;
  width: 5px;
  margin: 30px 5px;
}

#candleimg {
  background-image: "candle.jpg";
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  opacity: .7;
  width: 100%;
  height: 70vh;
  position: relative;
  z-index: -12;
}

.container {
  position: relative;
  text-align: center;
  font-family: "Sora";
  width: 100vw;
}

.Resumeheader {
  position: absolute;
  width: 80%;
  top: 5%;
  left: 10%;
  font-size: 30px;
  opacity: .8;

}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  background-color: white;
  overflow: hidden;
}

.navlist {
  display: flex;
  justify-content: column;
  list-style-type: none;
  width: 80%;
}


.navitem {
  padding: 3%;
  font-size: 16pt;

}

.Portfolio {
  padding-bottom: 6%;
}

.navitem:hover{
    transform: scale(1.2);
}

.resume {
  
  margin-top: 2%;

  display: table;


}



.profile {
  background-color: white;
  height: 100%;
  padding: 10px 80px 50px;
  border-style: solid;
  border-color: lightgrey;

  margin-top: 5%;

}



.section {
  
  line-height: 25px;

}

.profile {
  padding-top: 5px;
  
}

.DC {
  margin-left: 20%;
  margin-right: 20%;
}

#expheader {
  text-align: center;
  word-spacing: 6px;
  padding: 10px;
}

ul {
  display: table;
}



#expheader.li {

  display: table-row; /* aha! */
  text-align: left;

}


/* ---------- PROJECTS ----------- */

.Projects-slides {
  margin-top: 2%;
  
}


.Projects-slides > img{
  border: solid;
  border-color: lightgrey;
}

#project-img {
  max-width: 60vw;
  display: flex-start;
  align-items: center;
  justify-content: column;
  z-index: -10;
  padding: 2%;
}


/* Slideshow container */
.Projects-container {
  max-width: 100vw;
  position: relative;
  margin-top: 5%;  
}
/* 
.Projects-slides {
  display: none;
}
 */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  margin: 22%;
  padding: 16px;
  top: 5%;
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
/*  color: #f2f2f2; */
  color: black;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;

}


a:hover {
  color: gray;
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(117, 163, 163);
  padding: 8px 12px;
  top: 0;
  left: 50;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 12px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.dot-div {
  text-align: center;
}


/* ---------- HOME ----------- */

.home {
  margin-left: 25%;
  max-width: 50%;

}


/* ---------- CONTACT ----------- */

.contact{
  margin: 5%;
}

.contact h2{
  margin-bottom: 3%;
}

input {
  margin: 1%;
  padding: 1%;
  width: 25%;
}

.sendBtn {
  margin: 8%;
}

.contactBtn {
  margin: 3%;
}

/* ---------- FOOTER ----------- */


.footer {
  position: relative;
  margin-top: 10%;
  padding-top: 3%;
  font-size: 13px;
  line-height: 200%;
  background-color: rgb(208, 225, 225);
}

.footer > a {
  padding: 8px;
}



